In [ ]:
# List of High Schools
high_schools = ["Hernandez High School", "Figuera High School", 
                "Wilson High School", "Wright High School"]
high_schools

for school in high_schools:
    print(school)

In [ ]:
# A dictionary of high schools and the type of schools
high_schools_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figuera", "Type": "District"},
                      {"High School": "Wilson", "Type": "Charter"},
                      {"High School": "Wright", "Type": "Charter"}]
high_schools_types

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figuera High School", 
                "Shelton High School", "Hernandez High School", "Griffin High School",
                "Wilson High School","Cabrera High School", "Bailey High School", 
                "Holden High School", "Pena High School", "Wright High School", 
                "Ridriguez High School", "Johnson High School", "Ford High School", 
                "Thomas High School"]

In [ ]:
# Add pandas library (dependency).
import pandas as pd

In [ ]:
school_series = pd.Series(high_schools)
school_series

In [ ]:
school_series[3]

In [ ]:
# A dictionary of high schools and the type of schools
high_schools_dicts = [{"School ID": 0, "School_name": "Huang High School", "Type": "Disctric"},
                      {"School ID": 1, "School_name": "Figuera High School", "Type": "Disctric"},
                      {"School ID": 2, "School_name": "Shelton High School", "Type": "Charter"}, 
                      {"School ID": 3, "School_name": "Hernandez High School", "Type": "Disctric"},
                      {"School ID": 4, "School_name": "Griffin High School", "Type": "Charter"}]

In [ ]:
# Convert a list of dictionaries (keys = column header, values = rows) in a DataFrame
school_df = pd.DataFrame(high_schools_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figuera High School",
               "Shelton High School", "HernandezHigh School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [ ]:
# Initialize a new empty DataFrame
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

In [ ]:
# Create a dictionary of information on high schools
high_school_dict = {'School ID': school_id, 'school_name': school_name, 'type': type_of_school}

# To get the Column attribues
school_df.columns

# To get Index attribue
school_df.index

# To get the Values attribute
school_df.values

In [ ]:
# Skill Drill: Create a new list and add each list to a Pandas DataFrame
school_drill = [{"School ID": 0, "School_name": "Huang High School", "type": "District"}, 
                {"School ID": 1, "School_name": "Figuera High School", "type": "District"},
                {"School ID": 2, "School_name": "Shelton High School", "type": "Charter"},
                {"School ID": 3, "School_name": "Hernandez High School", "type": "District"},
                {"School ID": 4, "School_name": "Griffin High School", "type": "Charter"}, 
                {"School ID": 5, "School_name": "Wilson High School", "type": "chartert"}, 
                {"School ID": 6, "School_name": "Cabrera School", "type": "Charter"},
                {"School ID": 7, "School_name": "Bailey High School", "type": "District"}, 
                {"School ID": 8, "School_name": "Holden High School", "type": "District"},
                {"School ID": 9, "School_name": "Pena High School", "type": "Charter"}, 
                {"School ID": 10, "School_name": "Wright High School", "type": "Charter"},
                {"School ID": 11, "School_name": "Rodriguez High School", "type": "District"},
                {"School ID": 12, "School_name": "Johnson High School", "type": "District"},
                {"School ID": 13, "School_name": "Ford High School", "type": "District"}, 
                {"School ID": 14, "School_name": "Thomas High School", "type": "Charter"}]
school_drill_df = pd.DataFrame(school_drill)
school_drill_df